.menu-container {
  margin-bottom: 20px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
}

.navigation li {
  border-bottom: 1.5px solid #176b7d;
}

.navigation button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #176b7d;
  font-weight: bold;
  padding: 1em 1.5em;
}

.navigation button:hover {
  background: #F0F0F0;
}

